.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
  margin: 0 auto;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

mat-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
  margin: auto;
}

input, select {
  padding: 8px;
  width: 100%;
}

button {
  margin-top: 10px;
}